@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    margin:0;
    padding:0;
    border-style: solid;
}

html,body{
    font-size: 20px;
    width:100%;
    height: 100%;
    min-width: 600px;
    /* background-image: url('meditation.avif'); */
    /* background-position: 950px; */
    background-color: rgba(199, 183, 199, 0.851);
}

img{
    width: 100%;
}

main{
    max-width: 2500px;
}

/* NAV BAR */

#top-nav{
    display: flex;
    flex-direction: column;
    /* huge probelems with flex */
}

#top-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
    font-weight: bolder;
}

#top-nav ul li a{
    display: block;
    padding:10px;
    color:rgb(0, 0, 0);
}

#top-nav ul li a:hover{
    background-color: lightgray;
}
/* why does hover work for all of them even tho i only selected li a */
body{
   
}

footer #social ul{
    display:flex;
    justify-content: right;
}

footer #social ul li{
    list-style: none;
}

footer #social ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: antiquewhite;
}

footer #social ul li b{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: antiquewhite;
}

footer #social ul li c{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: antiquewhite;
}