@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    margin:0;
    padding:0;
    /* border-style: solid; */
}

html,body{
    font-size: 20px;
    width:100%;
    min-width: 600px;
    /* background-image: url('meditation.avif'); */
    /* background-position: 950px; */
    background-color: rgba(221, 203, 221, 0.851);
}

img{
    width: 100%;
}

main{
    max-width: 2500px;
}

/* NAV BAR */

#top-nav{
    display: flex;
    flex-direction: column;
    background-color: rgba(152, 122, 45, 0.739)
    /* huge probelems with flex */
}

#top-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: left;
    list-style: none;
    font-size: 25px;
    font-weight: bolder;
    align-items: center; /* aligns them on the center of the line/space theyre in, inside a flex box*/
}

#top-nav ul li a{
    display: block;
    padding:10px;
    color: rgba(232, 225, 225);
}

#top-nav ul li a:hover{
    background-color: lightgray;
}
/* why does hover work for all of them even tho i only selected li a */


footer #social ul{
    display:flex;
    justify-content: right;
    padding: 20px;
}

footer #social ul li{
    list-style: none;
}

footer #social ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: antiquewhite;
}

footer #social ul li b{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: antiquewhite;
}

footer #social ul li c{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: antiquewhite;
}