@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    margin:0;
    padding:0;
}

html,body{
    font-size: 20px;
    width:100%;
    height: 100%;
    max-width: 2500px;
    background-image: url('meditation.avif');
    background-position: 950px;
}

main{
    background-color: rgba(110, 149, 155, 0.882);
    
    margin: 10px;
}

/* NAV BAR */
#top-nav{
    background-color: rgb(223, 137, 62);
    margin: 10px;
}
#top-nav ul{
    display:flex;
    justify-content: space-around;
    list-style: none;
}

#top-nav ul li a{
    display: block;
    padding:10px;
    color:rgb(56, 93, 93);
}

#top-nav ul li a:hover{
    background-color: lightgray;

}

body{
   
}

h1, h2, h3{
    color: mediumvioletred;
}

h1{
    font-weight:bold;
    text-align: center;
}

h3{
    font-style: italic;
}

#statement{
    color:black;
    font-size: 18px;
}

#list{
    color:antiquewhite;
    font-size: larger;
}

footer{
    display:flex;
    justify-content: center;
    list-style: none;
    background-color: rgb(226, 136, 40);
    margin: 10px;
}

footer ul{
    list-style: none;
}

footer ul li a{
    display: block;
    padding:10px;
}
footer ul li b{
    display: block;
    padding:10px;
}